<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {#  This is Comment Syntax in Jinja2  #}
    {#  Do NOT change that "href" Syntax used in link tag  #}
    <link rel="stylesheet" href="{{ url_for('static',filename='Styles/style.css') }}" />
    <title>Sentiment Analysis</title>
  </head>
  <body>
    <section class="container">
      <form id="form" action="/submit" method="GET">
        <input id="email" type="url" placeholder="Enter URL" />
        <button type="submit">Generate</button>
      </form>
    </section>
  </body>
</html>