<!DOCTYPE html>
<html>
<!--<body style="background-color:powderblue;">-->

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

<!--</body>-->
</html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Sentiment Analysis</title>
  </head>
  <body>
    <section class="container">
      <form id="form">
        <input id="email" type="url" placeholder="Enter URL" />
        <button type="submit">Generate</button>
      </form>
    </section>
  </body>
</html>
