@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    height: calc(100vh - 5rem);
    justify-content: center;
    margin-top: 5rem;
}

form {
    position: relative;
    width: 25vw;
}

input {
    background-color: transparent;
    padding: 15px 30px;
    border: 1px solid #ce9797;
    border-radius: 50px;
    font-size: 1rem;
    width: 100%;
    height: 56px;
}

input::placeholder {
    color: #ce9797;
}

input:focus {
    outline: none;
    border: 2px solid #ce9797;
    box-shadow: 0px 0px 10px #ce9797;
}

button {
    background-image: linear-gradient(135deg,
            hsl(0, 90%, 75%),
            hsl(0, 100%, 65%));
    box-shadow: 2px 5px 10px #ce9797;
    border: none;
    border-radius: 50px;
    padding: 15px;
    font-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    height: 56px;
    width: 100px;
    cursor: pointer;
    outline: none;
    transition: opacity 0.2s ease;
}

button:hover {
    opacity: 0.65;
}

small {
    display: none;
    margin-top: 15px;
    margin-left: 30px;
    color: hsl(0, 93%, 68%);
}